/*  
    
    .nav-body {
      font-family: Arial, sans-serif;
      color: rgb(250, 244, 249);
      background-image: url('./background.jpg');
      background-size: cover; 
      background-position: center center;  
      background-repeat: inherit;
      margin: 0;
    }
    
    h1, h2 {
      text-align: center;
    }
    
    .input-section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin: 40px 10px 10px 10px
    }
    
    #rzpy-btn{
      margin-right: 5px;
      
      background-color: none;
    }
    
    .input-section label {
      font-weight: bold;
      margin-right: 10px;
    }
    .main-selection{
      width: 40%;
      padding: 4px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
     input[type='number']{
      width: 40%;
      padding: 4px;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }z
     input[type='text'] {
      width: 50%;
      padding: 4px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
    .expenses-list {
      margin: 20px;
      color:white;
    }
    
    .edit{
       margin-right: 5px;
    }
    
    
.expense-table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.expense-table th,
.expense-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.expense-table thead {
  background-color: #d10995;
  color: #fff;
}

.expense-table tbody tr:nth-child(even) {
  background-color: #e29aca;
}

.expense-table tbody tr:hover {
  background-color: #ddd;
}

.expense-table th {
  background-color: #555;
  color: #fff;
  text-transform: uppercase;
} */
