/* styles.css */

body {
  background-color: #dee9f3;
  font-family: Arial, sans-serif;
}

#container {
  max-width: 900px;
  margin: 0 auto;
  padding: 100px;
  background-color: #e0e6ec;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  te
}

#container form {
  margin-bottom: 20px;
}

#container h2 {
  margin-bottom: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-danger {
  margin-left: 10px;
}
